<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>
<body>
    <h1>Add a Post</h1>
    <form action="/entries" method="POST">
        <label for="picture">Picture:</label>
        <input name="picture" type="text">
        <br>
        <label for="name">Name:</label>
        <input name="name" type="text">
        <br>
        <label for="dateSeen">Date Seen:</label>
        <input name="dateSeen" type="text">
        <br>
        <label for="numberSeen">Number Seen:</label>
        <input name="numberSeen" type="text">
        <br>
        <label for="place">Place:</label>
        <input name="place" type="text">
        <br>
        <input type="submit" value="Create Post">
    </form>
</body>
</html>