<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>
<body>
    <h1>Select a post to view:</h1>
    <% for(let i = 0; i < allEntries.length; i++) { %>
        <a href="/final/<%= allEntries[i]._id%>">
            <h2><%= allEntries[i].name %></h2>
        </a>

        <form action="/final/<%= allEntries[i]._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete this Post">
        </form>

        <a href="/final/<%= allEntries[i]._id %>/edit">Edit this Entry</a>
 <% } %>
</body>
</html>